{
  "openapi": "3.1.0",
  "info": {
    "title": "CountryStateCity Hosted API",
    "version": "1.0.0",
    "description": "Versioned REST and GraphQL access to the CountryStateCity canonical dataset. Every response carries data version and source metadata."
  },
  "servers": [{ "url": "https://countrystatecity.tansuasici.com" }],
  "tags": [{ "name": "Metadata" }, { "name": "Locations" }, { "name": "GraphQL" }],
  "paths": {
    "/api/v1/health": {
      "get": {
        "tags": ["Metadata"],
        "security": [],
        "summary": "Read service and dataset health",
        "responses": { "200": { "$ref": "#/components/responses/Success" } }
      }
    },
    "/api/openapi.json": {
      "get": {
        "tags": ["Metadata"],
        "security": [],
        "summary": "Download the OpenAPI document",
        "responses": { "200": { "description": "OpenAPI 3.1 document" } }
      }
    },
    "/api/subscription-policy.json": {
      "get": {
        "tags": ["Metadata"],
        "security": [],
        "summary": "Read RSS, webhook signature, retry, and email subscription policy",
        "responses": { "200": { "description": "Versioned subscription policy" } }
      }
    },
    "/api/v1/countries": {
      "get": {
        "tags": ["Locations"],
        "summary": "List or filter countries",
        "parameters": [
          { "$ref": "#/components/parameters/Search" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          { "$ref": "#/components/parameters/Fields" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Success" },
          "401": { "$ref": "#/components/responses/Error" },
          "429": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/v1/countries/{code}": {
      "get": {
        "tags": ["Locations"],
        "summary": "Resolve a country by ISO alpha-2, alpha-3, or numeric id",
        "parameters": [
          { "name": "code", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Success" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/v1/subdivisions": {
      "get": {
        "tags": ["Locations"],
        "summary": "List first-level administrative subdivisions",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "example": "TR" }
          },
          { "$ref": "#/components/parameters/Search" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          { "$ref": "#/components/parameters/Fields" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Success" } }
      }
    },
    "/api/v1/places": {
      "get": {
        "tags": ["Locations"],
        "summary": "List places for a country and optional subdivision",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "example": "TR" }
          },
          { "name": "subdivision", "in": "query", "schema": { "type": "string", "example": "34" } },
          { "$ref": "#/components/parameters/Search" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          { "$ref": "#/components/parameters/Fields" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Success" } }
      }
    },
    "/api/v1/search": {
      "get": {
        "tags": ["Locations"],
        "summary": "Rank multilingual, alias, and typo-tolerant location matches",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "minLength": 2 }
          },
          {
            "name": "types",
            "in": "query",
            "schema": { "type": "string", "example": "country,subdivision,place,district" }
          },
          {
            "name": "subdivision",
            "in": "query",
            "description": "Optional state/subdivision id, code, or exact name used for disambiguation",
            "schema": { "type": "string", "example": "34" }
          },
          { "name": "country", "in": "query", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Success" } }
      }
    },
    "/api/v1/reverse": {
      "get": {
        "tags": ["Locations"],
        "summary": "Resolve nearest centres and optional Türkiye admin polygons",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": { "type": "number", "minimum": -90, "maximum": 90 }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": { "type": "number", "minimum": -180, "maximum": 180 }
          },
          {
            "name": "types",
            "in": "query",
            "schema": { "type": "string", "default": "country,state,city" }
          },
          { "name": "country", "in": "query", "schema": { "type": "string" } },
          {
            "name": "limitPerType",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 1 }
          },
          {
            "name": "maxDistanceKm",
            "in": "query",
            "schema": { "type": "number", "exclusiveMinimum": 0 }
          },
          {
            "name": "polygon",
            "in": "query",
            "description": "When true, include Türkiye admin-1/admin-2 point-in-polygon matches.",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Success" },
          "400": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/v1/reverse/batch": {
      "post": {
        "tags": ["Locations"],
        "summary": "Resolve nearest centres for up to 1,000 coordinates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["points"],
                "properties": {
                  "points": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1000,
                    "items": {
                      "type": "object",
                      "required": ["latitude", "longitude"],
                      "properties": {
                        "latitude": { "type": "number" },
                        "longitude": { "type": "number" }
                      }
                    }
                  },
                  "options": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/Success" },
          "400": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/graphql": {
      "post": {
        "tags": ["GraphQL"],
        "summary": "Execute a read-only GraphQL query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": { "query": { "type": "string" }, "variables": { "type": "object" } }
              }
            }
          }
        },
        "responses": { "200": { "$ref": "#/components/responses/Success" } }
      }
    }
  },
  "components": {
    "securitySchemes": { "ApiKeyAuth": { "type": "apiKey", "in": "header", "name": "x-api-key" } },
    "parameters": {
      "Search": { "name": "q", "in": "query", "schema": { "type": "string" } },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "schema": { "type": "integer", "minimum": 0, "default": 0 }
      },
      "Fields": {
        "name": "fields",
        "in": "query",
        "description": "Comma-separated response fields",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "required": ["apiVersion", "dataVersion", "source"],
        "properties": {
          "apiVersion": { "type": "string", "example": "v1" },
          "dataVersion": { "type": "string" },
          "source": { "type": "object" },
          "pagination": { "type": "object" }
        }
      },
      "Envelope": {
        "type": "object",
        "required": ["data", "meta"],
        "properties": { "data": {}, "meta": { "$ref": "#/components/schemas/Meta" } }
      },
      "Error": {
        "type": "object",
        "required": ["error", "meta"],
        "properties": {
          "error": { "type": "object" },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      }
    },
    "responses": {
      "Success": {
        "description": "Versioned response",
        "headers": {
          "ETag": { "schema": { "type": "string" } },
          "X-Data-Version": { "schema": { "type": "string" } }
        },
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } }
      },
      "Error": {
        "description": "Versioned error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    }
  },
  "security": [{ "ApiKeyAuth": [] }]
}
